body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR UNITY */
#unity-container {
  position: absolute;
}

/* DESKTOP */
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* MOBILE */
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* CANVAS */
#unity-canvas {
  background: #231F20;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

/* LOADING */
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url('progress-bar-full-dark.png') no-repeat center;
}

/* FOOTER */
#unity-footer {
  position: relative;
  width: 100%;
  height: 38px;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url('webgl-logo.png') no-repeat center;
}

#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-size: 18px;
}

#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background: url('fullscreen-button.png') no-repeat center;
}

/* WARNINGS */
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
