
HTML, body {

    margin: 0;

    padding: 0;

    width: 100%;

    height: 100%;

    overflow-x: hidden; /* evita scroll horizontal */

    overflow-y: auto;   /* permite scroll vertical */
    min-height: 500vh; 
}



#unity-container {

    max-width: 100%;
    max-height: 80%;
    overflow: auto;

}



.unity-mobile {

    width: 100% !important;

    height: auto !important;

    max-width: 100%;

    display: block;

}
